In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
full_df = pd.read_csv('data/raw/covid_19_data.csv')
full_df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [5]:
us_conf = pd.read_csv('data/raw/time_series_covid_19_confirmed_US.csv')
us_conf.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7049,7106,7113,7118,7118,7126,7135,7141,7142,7142
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21489,21511,21535,21546,21554,21578,21593,21606,21620,21620
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2326,2327,2328,2328,2328,2331,2331,2333,2334,2334
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2656,2657,2656,2658,2659,2660,2662,2666,2664,2664
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6816,6826,6829,6832,6832,6847,6856,6862,6864,6864

In [6]:
us_death = pd.read_csv('data/raw/time_series_covid_19_deaths_US.csv')
us_death.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,109,109,110,110,110,110,110,110,110,110
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,310,310,310,310,310,310,310,310,311,311
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,58,58,58,58,58,58,58,58,59,59
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,64,64,64,64,64,64,64,64,64,64
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,139,139,139,139,139,139,139,139,139,139

In [7]:
other_conf = pd.read_csv('data/raw/time_series_covid_19_deaths.csv')
other_conf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180

In [8]:
other_deaths = pd.read_csv('data/raw/time_series_covid_19_deaths.csv')
other_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2440,2441,2442,2444,2445,2447,2447,2447,2448,2449
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3401,3405,3411,3418,3426,3433,3440,3448,3455,3460
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,704,709,715,725,731,735,742,745,749,757

In [10]:
recovered = pd.read_csv('data/raw/time_series_covid_19_recovered.csv')
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,26483,26513,26775,26778,27087,27204,27467,27529,27577,27646

1. Note that all numbers are cumulative, so if we wish to compute number of newly recovered we need to take the difference.
2. The days recorded are 1/22/20 - 5/29/21 in MM/DD/YY format
3. covid_19_data.csv is the full data, the 5 time_series_.... csvs are extracted from the csv.

## Exploratory plots

### Timeseries Heatmap

In [12]:
full_df['ObservationDate'] = pd.to_datetime(full_df['ObservationDate'])

In [41]:
# Calculate daily new cases
df_new_recovered = recovered.drop(columns=['Lat', 'Long'])
df_new_recovered.iloc[:, 2:] = df_new_recovered.iloc[:, 2:].diff(axis=1).fillna(0)
df_new_recovered.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,0.0,0,0,0,0,0,0,0,...,158,103,99,146,260,223,193,251,157,162
1,NaN,Albania,0.0,0,0,0,0,0,0,0,...,629,556,176,131,94,81,71,64,55,118
2,NaN,Algeria,0.0,0,0,0,0,0,0,0,...,156,164,142,138,151,175,189,179,192,187
3,NaN,Andorra,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,29,118,24,11,0
4,NaN,Angola,0.0,0,0,0,0,0,0,0,...,25,30,262,3,309,117,263,62,48,69

In [40]:
df_us_confirmed_new = us_conf.drop(columns=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Lat', 'Long_', 'Admin2', 'Combined_Key'])
df_us_confirmed_new = df_us_confirmed_new.rename(columns={'Province_State':'Province/State', 'Country_Region': 'Country/Region'})
df_us_confirmed_new.iloc[:, 2:] = df_us_confirmed_new.iloc[:, 2:].diff(axis=1).fillna(0)
df_us_confirmed_new.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,Alabama,US,0.0,0,0,0,0,0,0,0,...,32,57,7,5,0,8,9,6,1,0
1,Alabama,US,0.0,0,0,0,0,0,0,0,...,22,22,24,11,8,24,15,13,14,0
2,Alabama,US,0.0,0,0,0,0,0,0,0,...,2,1,1,0,0,3,0,2,1,0
3,Alabama,US,0.0,0,0,0,0,0,0,0,...,4,1,-1,2,1,1,2,4,-2,0
4,Alabama,US,0.0,0,0,0,0,0,0,0,...,8,10,3,3,0,15,9,6,2,0

In [44]:
df_us_deaths_new = us_death.drop(columns=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Lat', 'Long_', 'Admin2', 'Combined_Key','Population'])
df_us_deaths_new = df_us_deaths_new.rename(columns={'Province_State':'Province/State', 'Country_Region': 'Country/Region'})
df_us_deaths_new.iloc[:, 2:] = df_us_deaths_new.iloc[:, 2:].diff(axis=1).fillna(0)
df_us_deaths_new.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,Alabama,US,0.0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,Alabama,US,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,Alabama,US,0.0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,1,0
3,Alabama,US,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Alabama,US,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df_other_confirmed_new = other_conf.drop(columns=['Lat', 'Long'])
df_other_confirmed_new .iloc[:, 2:] = df_other_confirmed_new .iloc[:, 2:].diff(axis=1).fillna(0)
df_other_confirmed_new .head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,0.0,0,0,0,0,0,0,0,...,453,505,406,242,547,628,840,623,764,981
1,NaN,Albania,0.0,0,0,0,0,0,0,0,...,23,35,23,33,6,14,15,20,21,12
2,NaN,Algeria,0.0,0,0,0,0,0,0,0,...,260,278,217,209,247,254,285,280,272,258
3,NaN,Andorra,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,95,7,11,11,0
4,NaN,Angola,0.0,0,0,0,0,0,0,0,...,223,248,240,292,182,310,405,269,337,236

In [ ]:
# Create separate DataFrames for New Confirmed, New Deaths, and New Recovered cases
df_new_confirmed = df_new_cases.pivot(index='Country/Region', columns='ObservationDate', values='Confirmed')
df_new_deaths = df_new_cases.pivot(index='Country/Region', columns='ObservationDate', values='Deaths')
df_new_recovered = df_new_cases.pivot(index='Country/Region', columns='ObservationDate', values='Recovered')

# Plotting
plt.figure(figsize=(15, 5))

plt.subplot(1, 3, 1)
sns.heatmap(df_new_confirmed, cmap='Reds')
plt.title('New Confirmed Cases')

plt.subplot(1, 3, 2)
sns.heatmap(df_new_deaths, cmap='Greys')
plt.title('New Deaths')

plt.subplot(1, 3, 3)
sns.heatmap(df_new_recovered, cmap='Greens')
plt.title('New Recovered')

plt.tight_layout()
plt.show()